<h1>
  {{ pageTitle }}
  <span
    *ngIf="ago$ | async as ago"
    [hidden]="data.noData"
    style="font-size: 12px; color: #c4c4c4c4"
  >
    {{ ago | timeAgo }}
  </span>
</h1>

<div class="data-card" *ngIf="!data.noData">
  <div
    class="card"
    *ngFor="let item of cards; let i = index"
    [ngStyle]="Style(i)"
  >
    <h2>{{ item.name }}</h2>
    <div class="content">
      <h3>Total</h3>
      <div class="value">{{ item.totalD }}</div>
      <h3>Today</h3>
      <div class="value">{{ item.newD }}</div>
    </div>
    <div class="footer"></div>
  </div>
</div>
<h3 style="color: #c4c4c4c4; text-align: center" *ngIf="data.noData">
  {{ errorMsg }}
</h3>
