nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  margin: auto;

  .logo {
    font-size: 3em;
    padding: 0px 15px;
    font-family: cursive;
    color: #c4c4c4c4;
  }
  .navigation {
    align-self: end;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
      padding: 12px;
      justify-self: end;
      a {
        font-size: 1.2em;
        text-decoration: none;
        color: #f1f2f6;
        font-weight: 300;
      }
      .active {
        color: #f12345;
        text-decoration: underline;
      }
    }
  }
}
