<div class="search">
  <form>
    <input
      type="text"
      name="search"
      class="autocomplete-input"
      placeholder="Search for a country"
      (keyup)="getSearched($event)"
    />
  </form>
  <div class="autocomplete">
    <ul
      class="autocomplete-result-list"
      [hidden]="!searchString || !searchString.length"
    >
      <li *ngFor="let item of searchString" class="autocomplete-result">
        <span>{{ item }}</span>
      </li>
    </ul>
  </div>
</div>

<!--[hidden]="showSearched(item)"-->
