<div class="search">
  <form>
    <input
      type="text"
      name="search"
      class="autocomplete-input"
      placeholder="Search for a country"
      (keyup)="getSearched($event)"
      [value]="name || ''"
    />
  </form>
  <div class="autocomplete">
    <ul
      class="autocomplete-result-list"
      [hidden]="!searchString || !searchString.length"
    >
      <li
        *ngFor="let item of searchString"
        class="autocomplete-result"
        (click)="countrySelected(item)"
      >
        <span>{{ item | titlecase }}</span>
      </li>
    </ul>
  </div>
</div>

<!--[hidden]="showSearched(item)"-->
