/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

body {
  font-size: 20px;
  background-image: repeating-linear-gradient(
    90deg,
    rgb(68, 68, 68) 0px,
    rgb(68, 68, 68) 55px,
    rgb(74, 74, 74) 55px,
    rgb(74, 74, 74) 110px,
    rgb(70, 70, 70) 110px,
    rgb(70, 70, 70) 165px,
    rgb(60, 60, 60) 165px,
    rgb(60, 60, 60) 220px,
    rgb(72, 72, 72) 220px,
    rgb(72, 72, 72) 275px,
    rgb(64, 64, 64) 275px,
    rgb(64, 64, 64) 330px,
    rgb(62, 62, 62) 330px,
    rgb(62, 62, 62) 385px,
    rgb(66, 66, 66) 385px,
    rgb(66, 66, 66) 440px
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 500px) {
  body {
    font-size: 16px;
  }
}
